.gridGlossaire {
display: grid;
grid-template-columns: repeat(3, 1fr);
//grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
color: black;
padding: auto;
align-items: center;
}

.colg1{ grid-area: 1 / 2 / 2 / 3; 
    margin: auto;
    
        p{
            font-family: sans-serif;
            font-size: 4rem;
        }

}

.colg2 { grid-area: 2 / 1 / 6 / 2; 
    align-items: center;
    margin: auto;
    padding:5%;

}

.colg3 { grid-area: 2 / 3 / 6 / 4; 
    align-items: center;
    margin: auto;
    padding: 5%;

}

.colg4 { grid-area: 2 / 2 / 6 / 3; 
    align-items: center;
    margin: auto;
    padding:5%;

}