// main {
//   display: grid;
//   gap: 1.5rem;
//   justify-items: center;
// }

// main p {

// }

// main p h1{

// }

// main{
//   display: grid;
//   gap: 1.5rem;
//   justify-items: center;
//   p{
//     h1{
//       opacity: 0;
//     }
//   }
// }

.info {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

#app {
	position: absolute;
	top: 0;
}
