.index-page {
    padding: 1rem;

    .tags-container{
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 100%;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        .tag{
            margin-bottom: 1rem;
            text-transform: uppercase;
            cursor: pointer;
            margin-right: 0.8rem;
            padding-left: 0;
            padding-bottom: 0.3rem;
            transition: all 0.3s;
            font-weight: bold;
            color: var(--active-color);
            border-bottom: 3px solid transparent;

            &:hover{
                border-bottom: 3px solid var(--active-color);
            }
        }

        &.tag-selected .tag{
            opacity: 0.3;
        }

        &.tag-selected .active{
            opacity: 1;
        }
    }

    .pages-container{
        font-size: 2rem;
        line-height: 3rem;
        display: flex;
        flex-direction: column;
        max-height: 50vh;
        flex-wrap: wrap;
        overflow-y: auto;
        width: calc(100vw - 1rem);

        .page{
            margin-right: 1rem;
            cursor: pointer;
            color: var(--text-color);
            transition: all 0.3s;
            text-decoration: none;
            font-size: 1.6rem;
            width: 30%;
            line-height: 30px;
            margin-bottom: 20px;
        }

        .page:before {
            content: "•";
            display: block;
            float: left;
            padding-right: 20px;
            color: var(--text-color);
        }

        &.tag-selected .page{
            opacity: 0.3;
        }

        &.tag-selected .active{
            opacity: 1;
        }
    }
}
