@font-face {
  font-family: 'Arimo';
  src: url('/fonts/arimo/Arimo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/arimo/Arimo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arimo';
  src: url('/fonts/arimo/Arimo-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// @font-face {
//   font-family: 'Arimo';
//   src: url('/fonts/arimo/Arimo-Bold.ttf/Arimo-BoldItalic.ttf') format('truetype');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }

body {
  font-family: 'Arimo', system-ui, sans-serif;
  background-color: var(--clr-background);
  color: var(--clr-text);
  font-weight: 400;
  // font-size: var(--fs-400);
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.fade-layer.hidden{
    opacity: 0;
    pointer-events: none;
}